<!doctype html>
<html>
    <head>
        <title>congratulation!</title>

        <style>
            body {
                background-image: url("{{ url_for('static', filename='train.jpg') }}");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }

            #center {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

        </style>

    </head>
    <body>
        <div id="center">
            <h1>Congratulation!</h1>
            <p>Your ticket is:</p>
            <p>{{ticket}}</p>
        </div>
    </body>
</html>